@using PROJET_1.Models;
@model IEnumerable<PROJET_1.Models.Activite>

@{
    ViewBag.Title = "events_img";
    Layout = "~/Views/Shared/_EvenementLayoutPage.cshtml";

}
@{
    var i = 0;
    IEnumerable<Activite> Act = ViewData["activitie"] as IEnumerable<Activite>;
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gallerie des photos ENSA'S</title>
</head>
<body>
    <div class="banner-wrapper bg-light">
        <div id="index_banner" class="banner-vertical-center-index container-fluid pt-5">

            <!-- Start slider -->
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                
                <div class="carousel-inner">
                    @foreach (Activite e in Model)
                    {
                        if (i == 0)
                        {
        <div class="carousel-item active">

            <div class="py-5 row d-flex align-items-center">
                <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 pb-5">
                    <h1 class="banner-heading h1 text-secondary display-3 mb-0 pb-5 mx-0 px-0 light-300 typo-space-line">
                        @e.titre
                    </h1>
                    <p class="banner-body text-muted py-3 mx-0 px-0">
                        @e.description
                    </p>
                    <a class="banner-button btn rounded-pill btn-outline-primary btn-lg px-4" href="/Evenement/activitie/@e.id" role="button">Voir plus</a>
                </div>
            </div>

        </div> i++;
    }
    else
    {
<div class="carousel-item">

    <div class="py-5 row d-flex align-items-center">
        <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 pb-5">
            <h1 class="banner-heading h1 text-secondary display-3 mb-0 pb-5 mx-0 px-0 light-300 typo-space-line">
                @e.titre
            </h1>
            <p class="banner-body text-muted py-3 mx-0 px-0">
                @e.description
            </p>
            <a class="banner-button btn rounded-pill btn-outline-primary btn-lg px-4" href="/Evenement/activitie/@e.id" role="button">Voir plus</a>
        </div>
    </div>

</div>}

}
                </div>
                <a class="carousel-control-prev text-decoration-none" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                    <i class='bx bx-chevron-left'></i>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next text-decoration-none" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                    <i class='bx bx-chevron-right'></i>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
            <!-- End slider -->

        </div>
    </div>

    <!-- Start Recent Work -->
    <section class="py-5 mb-5">
        <div class="container">
            <div class="recent-work-header row text-center pb-5">
                <h2 class="col-md-6 m-auto h2 semi-bold-600 py-5">Galerie des photos</h2>
            </div>
            <div class="row gy-5 g-lg-5 mb-4">

                <!-- Start Recent Work -->
                @foreach (Activite e in Act)
                {
            <div class="col-md-4 mb-3" style=" width: 100%;">
                <a href="/Evenement/gallerie/@e.id" class="recent-work card border-0 shadow-lg overflow-hidden">
                    <img class="recent-work-img card-img" src="@e.piece_joint" alt="Card image">
                    <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                            <h3 class="card-title light-300">@e.titre</h3>
                        </div>
                    </div>
                </a>
            </div>
                }
    <!-- End Recent Work -->

                        </div>
        </div>
    </section>
    <!-- End Recent Work -->



    
</body>
</html>